/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Body*/
.grid {
  background-image: url(/img/FondoGr.png);
  background-size: auto;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto max-content; }

/*Navbar*/
.nav__logo {
  width: 50px;
  margin-top: 10px; }

.nav__item {
  display: inline;
  margin: 0 20px;
  padding: 1rem;
  font-family: 'Zen Loop', cursive;
  font-size: 30px; }
  .nav__item a {
    text-decoration: none;
    color: black; }

/*Titulo Productos*/
.headertitulo {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 50px;
  width: 50%;
  margin-left: 25%;
  background-color: rgba(107, 3, 3, 0.15);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 0.5rem; }

/*Titulo de contacto*/
.titleCont {
  text-align: center; }

/*Main index*/
.main__title {
  display: flex;
  justify-content: center;
  color: #1a1a50;
  font-size: 40px;
  font-family: 'Koulen', cursive;
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-top: solid 5px;
  border-right: solid 5px;
  border-bottom: solid 5px;
  border-left: solid 5px; }

.main__bienvenida {
  color: black;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin: 1rem;
  text-align: center; }

/*Section productos*/
.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }
  .container__subt {
    text-align: center;
    padding-bottom: 3rem;
    color: rgba(0, 0, 0, 0.507);
    margin-top: 1rem; }
  .container__card {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3); }

/*Carrousel*/
.carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  padding-bottom: 3rem; }

.ofertas {
  text-align: center; }
  .ofertas__P {
    font-size: 25px;
    color: red;
    margin-left: 5rem;
    margin-right: 5rem; }
  .ofertas h2 {
    color: red;
    margin-left: 5rem;
    margin-right: 5rem; }

.imgCarrousel {
  margin-left: 5rem;
  margin-right: 5rem;
  width: 100px; }

/*Section nosotros*/
.nosotros {
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.178);
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  margin-top: 200px;
  font-size: 20px; }

/*Formularios*/
.form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 2rem;
  font-family: 'Zen Loop', cursive;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  font-size: 25px;
  background-color: rgba(1, 5, 5, 0.2); }
  .form__Envio {
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 1px;
    margin-bottom: 5px;
    border-radius: 5px; }

.formRegister {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 2rem;
  font-family: 'Zen Loop', cursive;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0); }

.envioForm {
  font-size: 20px; }

.buttom {
  width: 80%;
  margin: 1px; }

.envioText {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  margin: 30px;
  padding: 5rem; }

/*Cards index*/
.card {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 1rem 2rem;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3); }
  .card__body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-align: center; }

/*Footer*/
.piePagina {
  text-align: center; }

/*Media Queries*/
@media screen and (max-width: 410px) {
  .card {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media screen and (max-width: 900px) {
  .carrusel {
    height: 750px; } }

@media screen and (max-width: 768px) {
  .piePagina {
    padding-top: 3rem;
    text-align: inherit; } }

.piePagina p, .piePagina strong {
  padding: .5rem;
  color: black;
  font-size: 1rem; }

.piePagina strong {
  color: rgba(0, 0, 255, 0.548); }

@media screen and (max-width: 768px) {
  .main__title {
    background-color: rgba(153, 44, 44, 0.281); } }

@media screen and (max-width: 324px) {
  .imgCarrousel {
    width: 65px; } }
