/*Body*/
.grid {
    background-color: red;
    background-image: url(/img/FondoG.png);
    background-size: auto;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
}