/*Cards index*/
.card {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
    &__body {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        text-align: center;
    }
}