.header__Logo {
    width: 50px;
    position: absolute;
    margin-top: 10px;
}
.header__Title {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Koulen', cursive;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-top: solid 5px;
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-left: solid 5px;
}
.header__bienvenida {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    padding: 1rem;
}