/*Main index*/
.main {
    &__title{
        display: flex;
        justify-content: center;
        color: map-get($map: $colores, $key: "title");
        font-size: 40px;
        font-family: 'Koulen', cursive;
        margin: 5px;
        padding: 5px;
        border-style: solid;
        border-top: solid 5px;
        border-right: solid 5px;
        border-bottom: solid 5px;
        border-left: solid 5px;
    }
    &__bienvenida {
        color: map-get($map: $colores, $key: "bienvenida");
        font-size: 30px;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 1rem;
        text-align: center;
    }
}

